html {
  box-sizing: border-box;
  background: lightgrey;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  width:100%
}

p {
  margin: 1px;
  font-weight: 300;
  background-color: #fff;
  opacity: 0.6;
}

.cards {
  margin: 50px auto;
  width: 90%;
  height: 80%;
  padding: 10%;
  background: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.killer-deck {
  width: 250px;
  height: 400px;
  background: #000;
  text-align: center;
  padding-top: 50px;
  border-radius: 16px;
}

img {
  border: 1px solid black;
  margin: 5px;
}

.weapon-deck {
  width: 250px;
  height: 400px;
  background: rgb(10, 53, 10);
  text-align: center;
  padding-top: 50px;
  border-radius: 16px;
  margin: 0 5px;
}

.room-deck {
  width: 250px;
  height: 400px;
  background: midnightblue;
  text-align: center;
  padding-top: 50px;
  border-radius: 16px;
}

.mystery {
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

h1 {
  margin: 10px 60px 20px;
  font-weight: 500;
  width:100%
}

.reveal-mystery {
  text-align: center;
 }

button {
  padding: 8px 16px;
  background: white;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
}

@media (max-width: 650px) {
 .cards {
   flex-direction: column;
  }

  .weapon-deck {
    margin: 5px 0;
  }

  p {
    margin-bottom: 15px;
  }

  .mystery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  h1 {
    text-align: center;
    width:100%;
  }
}